/* @keyframes colorBreathBG {
  0% {background-color:  #0e1111;}
  50% {background-color: black;}
  100% {background-color: #0e1111;}
} */
* {
  margin: 0;
  padding: 0;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  box-sizing: border-box;
}
:root {
  --highlight: #f1a26d;
  --standard: rgba(255, 255, 255, 0.5)
}
body {
  /* animation-name: colorBreathBG; */
  background-color: #020103;
  /* background-image: url('https://i.pinimg.com/originals/59/db/f3/59dbf3658e096e5793c88384aa4b6063.jpg');
  background-size: 5%; */
  animation-duration: 112s;
  animation-iteration-count: infinite;
  color: white;

}
html {
  scroll-behavior: smooth;
  max-width: 100%;
  border: 7px solid;
  border-image-source: linear-gradient(90deg, #FAC748,#f1a26d 70%);
  border-image-slice: 1;
}
h1, h2, h3 {
  font-family: 'Martel', serif;
  font-weight: 700;
}
.App {
  width: 100%
}
.sideNav {
  display: none;
}
nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  top: 20px;
  right: 50%;
  margin-right: -150px;
  width: 300px;
  z-index: 1;
  /* background-color: #FAC748; */
  border-radius: 20px;
  padding: 10px;
}
/* nav a {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  width: 50px;
  height: 50px;
  padding: 10px;
}
a .active {
  background-color: var(--highlight)
} */

.navIcon {
  background-color: var(--standard);
  border-radius: 50%;
  /* background-color: rgba(255, 255, 255, 0.5); */
  width: 50px;
  height: 50px;
  padding: 15px;
}
a .active {
  background-color: var(--highlight);
}

.navIcon:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.introGrid {
  display: grid;
  grid-template-columns: 1fr;
}
.introIcon {
  width: 50px;
  height: 50px;
}
.vertical-align {
  display: flex;
  align-items: center;
}
.introRightTop {
  display: flex;
  justify-content: center;
}
.introLeftBottom {
  text-align: center;
  line-height: 1.5;
}
.links a {
  margin: 10px;
}
.links {
  padding-top: 10px;
}
.introLeftBottom h1 {
  font-size: 50px;
  margin: 40px 0px;
}
.portrait {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  border: 6px #FAC748 dashed;
  background-size: 10px 3px;
}
.bigIntro {
  /* height: 600px; */
  /* margin-top: 90px; */
  padding: 0px 20px;
}
.aboutMe {
  height: 500px;
  display: flex;
  align-items: center;
  margin: 0px 30px
}
.aboutMe h1 {
  font-size: 70px;

}
.aboutMe p {
  font-size: 30px;
  line-height: 1.6;
}
.projects {
  margin: 0 30px;
  padding-top: 20px;
}
.skillsP {
  color: #f1a26d;
  font-weight: 700;
  text-align: center;
}
.projects h1 {
  font-size: 70px;
}
.reveal {
  /* height: 400px; */
  position: relative;
  transform: translateY(200px);
  opacity: 0;
  transition: 1s all ease;
}
.active {
  opacity: 1;
  transform: translateY(0px);
}
.projectRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 0px 20px;
}

.projText {
  padding: 40px 20px 20px;
  display: grid;
  grid-template-rows: 1fr 2.5fr 1.5fr 1fr;
  /* background-color: gray; */
}
.projImg {
  height: 400px;
  background-position: center;
  background-size: 100%;
  object-fit: cover;
  /* box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2); */
  transition: 800ms all ease;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.projectRow {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 20px;
}
.project1Img {
  background-image: url('./images/notable.png');
}
.project2Img {
  background-image: url('./images/shortdlepng.png');
}
.project3Img {
  background-image: url('./images/magichub.PNG');
  /* background-color: white; */
}
.projImg:hover {
  background-size: 105%;
  cursor: pointer;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0);
}
.proj-buttons {
  display: flex;
  justify-content: space-around;
}
.proj-buttons button {
  width: 180px;
  font-size: 24px;
  border-radius: 15px;
  border: 3px solid rgba(255, 255, 255, 0.1);
}
.codeBtn {
  background-color: #FAC748;
}
.contact {
  margin-top: 150px;
  height: 1000px
}

@media screen and (min-width: 880px) {
  .introGrid {
    grid-template-areas: "left right";
  }
  .introRightTop {
    grid-area: right;
  }
  .introLeftBottom {
    text-align: center;
    margin-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .App {
    width: 1100px;
    margin: 0 auto;
  }
  .bigIntro {
    padding: 0;
    }
  .aboutMe {
    margin: 0
  }
  .aboutMe h1, .projects h1 {
    margin-left: -15px;
  }
  .projects {
    margin: 0
  }
}
@media screen and (min-width: 1395px) {
  
  .sideNav {
    display: grid;
    position: fixed;
    right: 20px;
    /* top: 25vh; */
    margin-top: 15px;
    width: 50px;
    margin-right: 0;
    width: 100px;
    z-index: 1;
    border-radius: 20px;
    padding: 10px;
  }
  .topNav {
    display: none;
  }
  .navIcon {
    margin: 5px auto;
  }
}
