* {
  margin: 0;
  padding: 0;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
@keyframes colorBreathBG {
  0% {background-color: rgb(50,57,73);}
  50% {background-color: rgb(20, 18, 4);}
  100% {background-color: rgb(50,57,73);}
}

body {
  background-color: black;
  animation-name: colorBreathBG;
  animation-duration: 12s;
  /* animation-delay: 3s; */
  animation-iteration-count: infinite;
}
.App {
  text-align: center;
}
/* @keyframes sideScroll {
  from {transform: translateX(150)}
  to {transform: translateX(-150)}
} */
/* .imgContainer {
  width: 100%;
  display: flex;
  overflow-x: scroll;
} */
.portrait {
  position: relative;
  height: 200px;
  border-radius: 50%;
  border: 3px solid black;
  /* animation-name: sideScroll;
  animation-duration: 4s;
  transition: 2s all ease; */

}

.App--gridContainer {
  display: grid;
  /* width: 100%; */
  grid-template-areas: 
    "a a"
    "a a"
    "b c"
    "d d"
    "e e"
    "f f"
    "g g"
    "h h"
    "q q";
  grid-template-rows: 250px 250px 250px 250px 160px 200px 100px 100px 400px;
  grid-template-columns: 1fr 1fr;
}
.shadow {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
}
.gridCell {
  border-radius: 50px;
  margin: 5px;
  transition-duration: 4s;
}
.shadow:hover {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}
.a {
  background-color: rgb(0, 21, 20);
  grid-area: a;
  
}

@keyframes colorBreath {
  0% {background-color: rgb(50,57,73);}
  50% {background-color: rgb(61,62,11);}
  100% {background-color: rgb(50,57,73);}
}
.b {
  background-color: rgb(23, 126, 137);
  /* animation-name: colorBreath; */
  /* animation-duration: 12s; */
  /* animation-delay: 3s; */
  /* animation-iteration-count: infinite; */
  grid-area: b;
}
.c {
  background-color: rgb(202, 216, 222);
  grid-area: c;
}
.d {
  background-color: rgb(111, 104, 109);
  grid-area: d;
}
.e {
  background-color: rgb(37, 19, 81);
  grid-area: e;
}
.f {
  background-color: gray;
  grid-area: f;
  background-image: url('./images/magichub.PNG');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  /* transition: background-size 2s;
  transition: box-shadow 2s; */
  transition-duration: 4s;
  /* box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5); */
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: 2s all ease;
}
.f:hover {
  background-size: 110%;
  cursor: pointer;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
  
}
.f.active {
  transform: translateX(0);
  opacity: 1;
}
.g { 
  background-color: white;
  grid-area: g;
  position: relative;
  transform: translateX(-650px);
  opacity: 0;
  transition: 2s all ease;
}
.g.active {
  transform: translateX(0);
  opacity: 1; 
}
.h {
  grid-area: h;
  background-color: rgb(0, 21, 20);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white
}

.reveal p {
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active p {
  transform: translateY(0);
  opacity: 1;
}
.i, .j, .k, .l, .m, .n, .o, .p {
  background-color: rgb(167, 144, 165);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.i {
  grid-area: i;
  transform: translateY(250px);
  transition: 2s all ease; 
}
.j {
  grid-area: j;
  transform: translateY(250px);
  transition: 2.4s all ease; 
}
.k {
  grid-area: k;
  transform: translateY(250px);
  transition: 2.8s all ease; 
}
.l {
  grid-area: l;
  transform: translateY(250px);
  transition: 3.2s all ease; 
}
.m {
  grid-area: m;
  transform: translateY(250px);
  transition: 2s all ease; 
}
.n {
  grid-area: n;
  transform: translateY(250px);
  transition: 2.4s all ease; 
}
.o {
  grid-area: o;
  transform: translateY(250px);
  transition: 2.8s all ease; 
}
.p {
  grid-area: p;
  transform: translateY(250px);
  transition: 3.2s all ease; 
}
.skill {
  border-radius: 10px;
}
.skill.active {
  transform: translateY(0);
  opacity: 1;
}
.q {
  grid-area: q;
  background-color: aliceblue;
}

@media screen  and (min-width: 900px) {
  .App--gridContainer {
    grid-template-areas: 
    "a a b c"
    "a a d d"
    "e e e e"
    "f f g g"
    "f f g g"
    "h h h h"
    "i j k l"
    "m n o p"
    "q q q q"
    ;
    grid-template-rows: 250px 250px 700px 250px 200px 80px 100px 100px 400px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  } 
}